{
  "tabWidth": 2,
  "useTabs": false,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "trailingComma": "es5"
}
